spring:
 application:
  name: euler-cloud-gateway

server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
    healthcheck:
      enabled: true
  instance:
    prefer-ip-address: true

security:
  oauth2:
    resource:
      id: DEFAULT
      user-info-uri: http://localhost:8080/uc/oauth/user_info
      token-info-uri: http://localhost:8080/uc/oauth/check_token
      prefer-token-info: false
    client:
      client-id: default
      client-secret: default
